build/
*.node
*.o
*.so
artifacts/
node_modules/
.git/
.github/
.gitignore
.eslintrc*
jsdoc.json
CMakeLists.txt
CMakePresets.json
binding.gyp
cmake/
debug/
dev_tools/
python/
python_tests/
tests/
*.md
!README.md
LICENSE
CONTRIBUTING.md
SECURITY.md
NOTICES
MANIFEST.in
